
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


:root{
  --back:rgb(255,122,0);
}

.login-page {
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 70vh;
	margin: 10px 0 50px;

}


h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}



/* a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
} */

button {
	border-radius: 20px;
	border: 1px solid var(--back);
	background-color: var(--back);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.CertiForm {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 30px 0;
	width: 100%;
}

.login-container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 130%;
	min-height: 500px;
	margin-top: 10px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: var(--back);
	background: -webkit-linear-gradient(to right, #ace5ff, var(--back));
	background: linear-gradient(to right, rgb(255,122,0), rgb(255, 135, 22));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
	
}

.iic-jhansi{
	margin-top: -40px;
}
.container .section-heading{
	margin-top: -90px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  border-radius: 20px;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.788); /* Black w/ opacity */
  
}

/* Modal Content */
.modal-content {
  position: relative;
 
  margin: auto;
  padding: 0;
  border-radius: var(--radi);
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
  
}



/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 50px;
  font-weight: bold;
  
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 15px;
  background-color: var(--back);
  border-radius: var(--radi) var(--radi) 0px 0px ;
  
}
.modal-header h1{
  font-size: 32px;
  color: rgb(0, 0, 0);
}

.modal-body 
{padding: 2px 16px;}

.certiDetails  {
  
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.497);
}

.key
{
  
  width: 30%;
  padding: 5px;
  padding-left:20px ;
  font-size: 28px;
  font-family: Poppins;
  font-weight: bold;
  background-color: rgb(207, 207, 207);
  margin: 1px;
  /* border-radius: 5px 0px 0px 0px; */

}
.value
{
  width: 68%;
  padding: 5px;
  padding-top: 11px;
  padding-left:20px ;
  font-size: 24px;
  font-family: Poppins;
  font-weight: bold;
  background-color: rgb(207, 207, 207);
  margin: 1px;
  /* border-radius: 0px 5px 0px 0px; */
}

.keyh
{
  background-color: rgb(223, 223, 223);
}

.valueh
{
  background-color: rgb(223, 223, 223);
}
.btn_certi
{
  margin-left: 40%;
  margin-bottom: 40px;
}
.btn_certi:hover
{
  color: #000;
  transition-duration: 0.5s;
  transform: scale(1.2);
}
 
 @-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@media only screen and (max-width: 750px) 
{
  .certiDetails
  {
    
    width: 90%;
  }
  .modal-content
  {
    width: 90%;
  }
  .key{
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
  }
  .value
  {
    padding-left: 5px;
    font-size: 16px;
    
  }
  #certiNo
  {
    font-size: 13px;
  }
  .btn_certi
  {
    margin-left: 30%;
  }
  #cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:20px;
    top:100px;
  }
}

  


#cover-spin {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index:9999;
  display:none;
}

@-webkit-keyframes spin {
from {-webkit-transform:rotate(0deg);}
to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
from {transform:rotate(0deg);}
to {transform:rotate(360deg);}
}

#cover-spin::after {
  content:'';
  display:block;
  position:absolute;
  left:48%;top:40%;
  width:200px;height:200px;
  border-style:solid;
  border-color:var(--back);
  border-top-color:transparent;
  border-width: 20px;
  border-radius:50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}






/* //////////////////////////////////////////              TRAININGS ///////////////////////////////////////////////// */